* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #5a5a5a;
    background-color: #ffffff;
    text-rendering: optimizeLegibility;
    /*mac dinh la 16px*/
}

header {
    background-image: linear-gradient(to right top, rgba(2, 33, 64, 0.8), rgba(45, 95, 93, 0.85)), url("../img/background4.jpeg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.logo {
    width: 350px;
    float: left;
    margin-left: 70px;
    margin-top: -50px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-right: 50px;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-right: 30px;
}

.main-nav li a {
    text-decoration: none;
    color: white;
    font-size: 110%;
    font-weight: 700;
    transition: border-bottom 0.5s;
    padding: 3px 0;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 4px solid #cccccc;
}

.clearfix:after {
    content: "  ";
    display: table;
    clear: both;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;

}

.d-col {
    flex-direction: column;
    /* justify-content: flex-start;
    align-items: flex-start; */
}

.span-1-of-4 {
    flex: 1;
    padding: 20px;
}

.heading-main-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -40%);
    width: 1140px;
}

h1, h2, h3{
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1 {
    font-size: 300%;
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
    line-height: 135%;
    margin-bottom: 50px;
}

h2 {

    color: #e67e22;
    font-size: 180%;
    font-weight: 700;
    text-align: center;
}

h2::after {
    content: " ";
    display: block;
    width: 150px;
    height: 2px;
    background-color: rgba(235, 171, 114, 0.9);
    margin: 0 auto;
    margin-top: 5px;
}
h3{
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #265077;
    color: white;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-bottom: 15px;
}

.p-long {
    text-align: center;
    color: #265077;
    font-size: 22px;
    margin-top: 40px;
    margin-top: 40px;
    width: 70%;
    margin-left: 15%;
    /* line-height: 100%; */
}

section {
    padding: 50px;
}
.small-icon{
    color: #3e6c98;
    font-size: 120%;
    margin-right: 10px;
}

.btn {
    text-decoration: none;
    color: white;
    background-color: #e67e22;
    padding: 15px 30px;
    border-radius: 20px;
    margin: 0 5px;
    width: 190px;
    display: inline-block;
    text-align: center;
    transition: all .3s;
}

.btn:hover,
.btn.active {
    background-color: #d35400;

}

.about-picture1 {
    border-radius: 20px;
    border: 4px solid #a9cced;
    box-shadow: 0px 5px 15px 5px #265077;
    transition: all .7s;
}

.picture-title {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #c2e1fd;
    transform: translate(-45%, 150%);
    opacity: 0;
    transition: all .7s;
}

.about-picture {
    position: relative;
    margin-top: 50px;
}
.about-picture:hover img,
.about-picture:active img{
    filter: brightness(55%) blur(2px) ;
}

.about-picture:hover .picture-title,
.about-picture:active .picture-title {
    transform: translate(-45%, -50%);
    opacity: 1;
}
.products-section{
    background-color: #f4f4f4;
}
.products-section h2{
    margin-bottom: 60px;
}
.products-box{
    background-color: #eeefff;
    box-shadow: 3px 5px 10px #e0e0e0;
    width: 320px;
    height: 350px; 
}
.products-price{
    color: #265077;
    font-size: 250%;
    font-weight: 300;
    text-align: center;
}
.products-box span {
    font-size: 80%;
}
.products-box ul li{
  margin-left: 20%;
  list-style: none;
  margin-top: 20px;
  margin-bottom: 20px;
}
.products-box .btn{
    margin-left: 20%;

}
.testimonials-section{
    background-image: linear-gradient(to right top, rgba(2, 33, 64, 0.8), rgba(45, 95, 93, 0.85)), url('../img/background2.jpeg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.testimonials-section h2{
    margin-bottom: 70px;
}
blockquote{
    width: 95%;
    position: relative;
    font-size: italic;
    line-height: 140%;
    color: white;
}
blockquote::before{
    content:'\201C';
    display: block;
    font-size: 400%;
    position: absolute;
    top: -10px;
    left: -10px;

}
cite{
    display: block;
    color: #769cbf;
    margin-bottom: 25px;
}
cite img{
    height: 50px;
    border-radius: 50%;
    border: 2px solid #265077;
    vertical-align: middle;
    margin-right: 5px;
}
.sponsors-section{
background-color: #f4f4f4;
}
.sponsors-section h2{
margin-bottom: 50px;
}
.sponsors-showcase{

}
.row li{
    list-style: none;
    float: left;
}
.logo-sponsors{
width: 140px;
}

figcaption{
    text-align: center;
    font-size: 45;
    font-weight: 1000;
    font-size: 120%;
    color: #265077;
}
.contact-section{
    background-image: linear-gradient(to right top, rgba(2, 33, 64, 0.8), rgba(45, 95, 93, 0.85)), url(../img/background5.jpeg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
footer{
    text-align: center;
    background-color: #3b3a3a;
    color: white;
    padding: 20px;
}
.information{
    list-style: none;
    color: white;
    line-height: 200%;
    margin-top: 70px;
    word-spacing: 1px;
    font-size: 95%;
}
.information .small-icon:hover,
.information .small-icon:active{
    transform: scale(1.3);
}
.social-icons{
    margin-top: 50px;
    list-style: none;

}
.social-icons li{
    display: inline-block;
    font-size: 250%;
    margin-left: 20px;
    color: white;
}
.social-icons li i:hover,
.social-icons li i:active{
    transform: scale(1.3);
    color: #d35400;
}
.social-icons li i{
    transition: all .3s;
    cursor: pointer;
}
form{
    background-color: rgba(0, 0, 0, .4);
    width: 500px;
    height: 350px;
    padding: 2px;
}
label{
    font-size: 100%;
    color: white;
}
input, textarea{
    outline: none;
    background-color: rgba(48, 47, 47, 0.3);
    border: 1px solid rgba(70, 68, 68, 0.7);
    margin-left: 30px;
    cursor: pointer;
    border-radius: 5px;
    padding-right: 130px;
    height: 50px;
}
textarea{
    resize: none;
}

  
    
